* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "WildWorld";
  src: url(/fonts/WILDWORLD.ttf);
  font-weight: 100;
}
@font-face {
  font-family: "aove";
  src: url(/fonts/AovelSansRounded-rdDL.ttf);
  font-weight: 100;
}
@font-face {
  font-family: "MV";
  src: url(/fonts/Mvdawlatulislam-Z8dJ.ttf);
  font-weight: 100;
}
@font-face {
  font-family: "opensans-bold";
  src: url(/fonts/OpenSans/OpenSans-Bold.ttf);
  font-weight: 100;
}
@font-face {
  font-family: "opensans-medium";
  src: url(/fonts/OpenSans/OpenSans-Medium.ttf);
  font-weight: 100;
}
@font-face {
  font-family: "opensans-extrabold";
  src: url(/fonts/OpenSans/OpenSans-ExtraBold.ttf);
  font-weight: 100;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.navlinks {
  flex: 1;
  text-align: right;
}
.navlinks ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.navlinks ul li:nth-child(2) {

  }
.navlinks ul li a {
  color: rgb(182, 181, 181);
  text-decoration: none;
  font-size: 14px;
  font-family: WildWorld;
}

.navlinks ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #4d2c70;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navlinks ul li:hover::after {
  width: 100%;
}
nav.linksbg {
  background: rgb(14, 14, 25);
  flex: 2;
  padding-bottom: 0;
  padding-top: 0;
}

.social-menu ul{
  padding: 0;
  margin: 0;
  display: flex;
}

.social-menu ul li{
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fa{
  font-size: 25px;
  line-height: 50px;
  transition: .6s;
  color: rgb(14, 14, 25);
}
.social-menu ul li .fab{
  font-size: 25px;
  line-height: 50px;
  transition: .6s;
  color: rgb(14, 14, 25);
}
.social-menu ul li a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(182, 181, 181);
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0, .5);
}

.social-menu ul li a:hover{
transform: translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover{
  background-color: #E4405F;
  }
.social-menu ul li:nth-child(2) a:hover{
    background-color:rgba(88 101 242)
    }
nav .fas {
  display: none;
}
.col-4 {
  flex-basis: 20%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}
.col-4 h4 {
  color: rgb(182, 181, 181);
  font-family: opensans-bold;
  
}
body{
  min-height: 100vh;
}
@media (max-width: 700px) {
  html,
  body {
    overflow-x: hidden;
  }
  .textbox h1 {
    font-size: 25px;
  }
  .textbox p {
    font-size: 13px;
  }
  .navlinks ul li {
    display: block;
  }
  .navlinks {
    position: absolute;
    background: #4d2c70;
    height: 200vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.7s;
  }
  nav .fas {
    display: block;
    color: rgb(182, 181, 181);
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .navlinks ul {
    padding: 25px;
  }
}
.categories {
  margin: 70px 0;
}

.container1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.buttonss{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  padding-top: 25px;
}
.buttonss .button1{
  margin-left: 20px;
  margin-right: 20px;

}

.buttonss .dropdown{
  margin-left: 20px;
  margin-right: 20px;

}



.button1 {
  text-decoration: none;
  color: rgb(182, 181, 181);
  border: 1px solid rgb(182, 181, 181);
  padding: 12px 34px;
  font-size: 16px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.button1:hover {
  border: 1px solid #4d2c70;
  background: #4d2c70;
  transition: 0.7s;
}
.button1:hover::after {
  border: 1px solid #4d2c70;
  background: #4d2c70;
  transition: 0.7;
}

.search-bar{
  width: 100%;
  max-width: 600px;
  background: rgba(182, 181, 181, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}

.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 11px 11px;
  font-size: 20px;
  color: rgb(182, 181, 181);
}



::placeholder{
  color: rgb(182, 181, 181);
}

.search-bar button img{
  width: 35px;
}

.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: rgb(182, 181, 181);
}

.search-wrapper{
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

input{
  font-size: 1rem;
}
.user-cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 1480px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  opacity: 0;
  display: none;
  transition: opacity 0.7s ease-in-out;
}

/* .small-container {
  transition: opacity 2s ease-in;
} */



body {
  background-color: #201f20;
}
.row {
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  display: none;
}

.col-4 {
  flex-basis: 15%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 40px;
}
.col-4 div {
  font-family: aove;
  color: rgb(182, 181, 181);
  text-decoration: none;
  font-weight: bold;
}
.col-4 img {
  width: 100%;
  background-color: #4d2c70;
}
.col-4 img {
  flex-basis: 31%;
  background: #450f69;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.3s;
}

.col-4 img:hover {
  box-shadow: 0px 0px 50px 5px rgba(140, 54, 184, 0.82);
}

.hide{
  display: none;
}

.show{
  display: flex;
}





/*--Drop down--*/
body {
  margin: 0;
}

.header {
  background-color: #0E0E19;
  display: flex;
  align-items: baseline;
  padding: .5rem;
  gap: 1rem;
}

.link {
  background: none;
  text-align: left;
  border: none;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.dropdown.active > .button1,
.button1:hover {
  border: 1px solid #4d2c70;
  background: #4d2c70;
  transition: 0.7s;
}
.dropdown.active > .button1,
.button1:hover::after {
  border: 1px solid #4d2c70;
  background: #4d2c70;
  transition: 0.7;
}




.dropdown {
  position: relative;
}

.dropdown-heading{
  color: rgb(182, 181, 181);
  font-size: 18px;
  font-weight: 800;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + .25rem);
  background-color: rgb(14, 14, 25);
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .button1 + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 2rem;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}






/*--Load More--*/












#loadmore {
  margin: 50px auto 0px;
  display: table;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  background-color: #2196f3;
}
body > div.user-cards > div:nth-child(-n+100) > div {
  display: flex;
}   


/*--foot--*/


.row2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  max-width: 900px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.footer {
  position: sticky;
  top: 100%;
  background: rgb(14, 14, 25);
  color: rgb(182, 181, 181);
  font-size: 17px;
  font-family: MV;
  padding: 30px 0 20px;
  margin-top: 75px;
  display: none;
}
.footer p {
  color: rgb(182, 181, 181);
}
.footer h3 {
  color: rgb(182, 181, 181);
  margin-bottom: 10px;
}
.footer-col-1 p {
  font-size: 17px;
  font-weight: 1000;
}
.footer-col-1,
.footer-col-3 {
  min-width: 250;
  margin-bottom: 10px;
}

.footer-col-1 {
  flex-basis: 100%;
  flex: 1;
  text-align: center;
}
.footer-col-1 img {
  width: 120px;
  margin-bottom: 0px;
}
.footer hr {
  border: none;
  background: rgb(182, 181, 181);

  height: 1px;
  margin: 10px 0;
}
.copyright {
  font-family: MV;
  text-align: center;
}
